.displayLogo {
  text-align: center;
  position: relative;
  align-items: center;
}

.Logo {
  cursor: pointer;
  border-style: hidden;
  padding: 0;
  background-color: transparent;
  font-size: 30px;
  width: auto;
  height: auto;
  text-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  /* left: 50%; */
  margin: 0 auto;
  margin-top: 10%;
  /* top: 50%%; */
  align-items: center;
  /* position: absolute; */
  /* height: 800; */
  /* width: 200; */
}

input {
  font-size: large;
  border-radius: 15px;
  width: 500px;
  text-align: center;
  box-sizing: border-box;
}

.gif {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin-top: 7px;
  padding: 10px;
}
